<div class="mdl-grid">
    <div class="alert alert-success" role="alert">{{ clickMessage }}</div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onClickButton()">
        Button
    </button>
</div>