<div class="mdl-grid">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onClickButton()">
        Button
    </button>
    <p>{{ clickMessage }}</p>
</div>